.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: pink;

  &__time {
    display: flex;
    align-items: center;
  }
}